body{
font-family:Arial;
background:#0f0f0f;
color:white;
margin:0;
}

header{
text-align:center;
padding:20px;
background:#000;
}

.container{
display:grid;
grid-template-columns:1fr 2fr;
gap:30px;
padding:30px;
}

form input{
padding:10px;
margin:5px;
}

button{
padding:10px 15px;
background:#00c853;
border:none;
color:white;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
background:#1a1a1a;
}

th,td{
padding:12px;
border-bottom:1px solid #333;
}

.stats-section{
grid-column:1 / span 2;
}